body {
    background-color: #fff5e6;
    font-family: Georgia;
    padding: 50px;
}

h1 {
    color: #d35400;
    font-size: 42px;
    text-align: center;
}

img {
    width: 400px;
    max-width: 100%;
    border-radius: 10px;
    margin: 20px 0;
}